node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
README.md
.DS_Store
dist
coverage
.vscode
.idea
*.log
tmp
temp
media
test
*.spec.ts
*.test.ts
.github
docker-compose.yml
Dockerfile
